$softcyan: #A7EBF4;
$white: #FFFFFF;
$grayishorange: #F1ECE4;
$softorange: rgb(235, 211, 170);
$solidorange: #EBA271;
$spaceblue: #273668;
$spacegreen: #276859;
$spacered: #682736;
$spaceyellow: #685927;
$charmycyan: rgb(51, 176, 192);

$theme-colors: (
    "softcyan":      $softcyan,
    "white":         $white,
    "grayishorange": $grayishorange,
    "softorange":    $softorange,
    "solidorange":   $solidorange,
    "spaceblue":     $spaceblue,
    "spacegreen":    $spacegreen,
    "spacered":      $spacered,
    "spaceyellow":   $spaceyellow,
    "charmycyan":    $charmycyan
);

