@import "variables";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-tagsinput";

@import "logs/index.scss";

@import "users/show.scss";

// Landing

.top-content {
  background-color: $charmycyan;
  width: 100%;
  height: 20%;
  color: white;
  .main-text {
    font-size: 4.5rem;
    padding: 5rem 5rem 1rem 5rem;
  }
}

.content-1 {
  margin-top: 3rem;
  height: 50%;
  text-align: center;
  .index-image img{
    max-width: 60%;
    margin: 0 auto;
  }
  p.main-text {
    font-size: 1.5rem;
  }
}

.content-2 {
  margin-top: 1rem;
  padding-top: 4rem;
  height: auto;
  // text-align: center;
  background-color: $charmycyan;
  color: white;
  text-align: center;
  img {
    max-width: 60%;
  }

  p {
    font-size: 1.3rem;
  }
}

.content-3 {
  margin-top: 3rem;
  height: 50%;
  text-align: center;
  .mypage-image img{
    max-width: 60%;
    margin: 0 auto;
  }
  p.main-text {
    font-size: 1.5rem;
  }
}


.content-4 {
  margin-top: 1rem;
  padding-top: 3rem;
  height: auto;
  // text-align: center;
  background-color: $charmycyan;
  color: white;
  text-align: center;
  img {
    max-width: 60%;
  }

  p {
    font-size: 1.3rem;
  }

  p.sub-text {
    font-size: 0.9rem;
  }
}

.alert-notice {
  background-color: $info;
  color: white;
}

.alert-alert {
  background-color: rgba(219, 14, 14, 0.65);
  color: white;
}

.logo-image {
  width: 80%;
  height: 80%;
}

#progressbar {
  margin: 20px;
  width: 400px;
  height: 8px;
}

.levelup-text {
  text-align: center;
  font-size: 4rem;
  font-weight: lighter;
}


// .navbar {
//   padding-top: 0rem;
//   padding-bottom: 0rem;
//   // margin-bottom: 1rem;
// }

// .navbar-btn {
//   border-radius: 0rem;
// }

// .ywt-create-btn {
//   padding-top: 11px;
//   padding-bottom: 11px;
//   border-bottom-width: 0px;
//   border-top-width: 0px;
// }

// .navbar-brand {
//   padding-top: 9px;
//   padding-bottom: 9px;
//   border-bottom-width: 0px;
//   border-top-width: 0px;
// }

// logs#form

.log-started-on, .log-ended-on{
  .form-control{
    border: 2px solid $charmycyan;
  }
}

.bootstrap-tagsinput{
  border: 2px solid $charmycyan;
  width: 100%;
  // inputのwidthを設定することで入力中の文字が切れなくなる
  input{
    width: 30%;
  }
  &:focus{
    border-color: $charmycyan;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(52, 155, 214, 0.397);
  }
}

.dones-form .form-control{
  border: 2px solid $spacegreen;
  // フォームが入力待機状態になったときのスタイル
  // box-shadowで枠線の影の色を変えている
  &:focus{
    border-color: $spacegreen;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(12, 133, 32, 0.25);
  }
}

.dones-comment, .knowledges-comment {
  margin-bottom: 0;
}

.knowledges-form .form-control {
  border: 2px solid $spaceblue;
}

.todos-form .form-control{
  border: 2px solid $spacered;
  &:focus{
    border-color: $spacered;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(161, 12, 24, 0.342);
  }
}


// users#show

.ywt-count {
  text-align: center;
}

p.counter {
  font-size: 5rem;
  font-weight: lighter;
  text-align: center;
}

span.totaltime-label{
  font-size: 1rem;
  font-weight: lighter;
  margin-bottom: 1rem;
}

span.totaltime {
  font-size: 3rem;
  font-weight: lighter;
  text-align: center;
}

span.minutes {
  font-size: 1rem;
  font-weight: lighter;
  color: grey;
}

p.profile {
  font-weight: lighter;
  font-size: 1rem;
}

.jumbotron {
  background-color: rgba(102, 194, 194, 0.411);
  font-weight: lighter;
  padding: 2rem 1rem 1rem 1rem; 
  margin-bottom: 1rem;
  .name{
    font-size: 4rem;
    font-weight: lighter;
  }
  .level{
    font-size: 1.5rem;
  }
  .progress{
    // background-color: white;
    .reqexp{
      color: rgb(1, 21, 31);
    }
  }

  .reqexp {
    width: 6rem;
    margin-left: auto;
    margin-right: 0rem;
  }

  .profile {
    background-color: white;
    .profile-text{
      font-size: 1rem;
      font-weight: lighter;
    }
  }
}

// simple_form
.nec {
  background-color: rgba(255, 5, 5, 0.774);
  color: white;
  font-weight: lighter;
  font-size: 1rem;
  margin-left: 10px;
  padding: 0px 4px 2px 4px;
  border-radius: 10%;
}

// users#sign_up

.google-signup-button {
  margin-top: -1rem;
}

.login-btn{
  margin-bottom: -1rem;
}
// users#edit

.back-btn {
  width: 15rem;
}

.when-to-do {
  font-size: 0.8rem
  
}