@import "variables";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-tagsinput";

@import "logs/index.scss";

@import "users/show.scss";

// users#show

.ywt-count {
  text-align: center;
}

p.counter {
  font-size: 5rem;
  font-weight: lighter;
}

p.profile {
  font-weight: lighter;
  font-size: 1rem;
}

.jumbotron {
  background-color: $softcyan;
  font-weight: lighter;
  padding: 2rem 1rem 1rem 1rem; 
  margin-bottom: 1rem;
  .name{
    font-size: 4rem;
    font-weight: lighter;
  }
  .level{
    font-size: 1.5rem;
  }
  .progress{
    background-color: white;
    .reqexp{
      color: rgb(1, 21, 31);
    }
  }

  .profile {
    background-color: white;
    .profile-text{
      font-size: 1rem;
      font-weight: lighter;
    }
  }
}