.btn-group.d-flex role="group"
  div.btn.btn-second-color.w-100 type="button" = link_to t('.btn-dones'), dones_path, class: 'text-decoration-none text-reset d-block',"data-turbolinks": false
  div.btn.btn-third-color.w-100 type="button" = link_to t('.btn-knowledges'), knowledges_path, class: 'text-decoration-none text-reset d-block',"data-turbolinks": false
  div.btn.btn-fourth-color.w-100 type="button" = link_to t('.btn-todos'), todos_path, class: 'text-decoration-none text-reset d-block',"data-turbolinks": false