.btn-group.d-flex role="group"
  div.btn.btn-spacegreen.w-100 type="button" = link_to t('.dones'), dones_path, class: 'text-decoration-none text-reset d-block'
  div.btn.btn-spaceblue.w-100 type="button" = link_to t('.knowledges'), knowledges_path, class: 'text-decoration-none text-reset d-block'
  div.btn.btn-spacered.w-100 type="button" = link_to t('.todos'), todos_path, class: 'text-decoration-none text-reset d-block'