.btn-spacegreen{
  text-align: center;
  color: white;
}

.btn-spaceblue{
  text-align: center;
  color: white;
}

.btn-spacered{
  text-align: center;
  color: white;
}

span.title {
  font-size: 1.2rem;
}

.card-header {
  background-color: rgba(134, 188, 231, 0.239);
}

.card-body {
  background-color: rgba(248, 248, 248, 0.897);
}

.dones{
  .card {
    background-color: rgba(248, 248, 248, 0.897);
  }
  .card-header{
    background-color: rgba(248, 248, 248, 0.897);
    border-left: thick outset $spaceblue;
  }

  .card-footer{
    height: 2rem;
    padding: 0.2rem;
    border-color: rgba(248, 248, 248, 0.897);
  }

  span.worktime{
    font-size: 0.8rem;
  }
}

.knowledges{
  .card-header{
    background-color: $spaceblue;
  }

  span.title{
    color: white;
  }
}

.todos{
  .card-header{
    background-color: $spaceblue;
  }

  span{
    color: white;
  }
}