.btn-spacegreen{
  text-align: center;
  color: white;
}

.btn-spaceblue{
  text-align: center;
  color: white;
}

.btn-spacered{
  text-align: center;
  color: white;
}

span.title {
  font-size: 1.2rem;
}

.card-body {
  background-color: rgba(248, 248, 248, 0.897);
}

.card .dones, .knowledges, .todos{
  box-shadow: 3px 3px 6px -2px rgb(119, 119, 119),
  3px 3px 8px rgba(255,255,255,0.8) inset;
}
// ywtのカード用（新デザイン）
@mixin ywt-card-header($bordercolor: $second-color) {
  background-color: rgba(248, 248, 248, 0.897);
  border-left: thick solid $bordercolor;
  letter-spacing: 0.1rem;
}

.dones{
  .card {
    background-color: rgba(248, 248, 248, 0.897);
  }
  .card-header{
    @include ywt-card-header()
  }

  .card-footer{
    height: 2rem;
    padding: 0.2rem;
    border-color: rgba(248, 248, 248, 0.897);
  }

  span.worktime{
    font-size: 0.8rem;
  }
}

.knowledges{
  .card-header{
    @include ywt-card-header($third-color)
  }
}

.todos{
  .card-header{
    @include ywt-card-header($fourth-color)
  }
}